@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: "Inter", "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #8576FF;
  --primary-color: #8576FF;
  --primary-text-color: #8576FF;
  --default-text-color: #334155;
  --display-text-color: #334155;
  --home-text-color: #64748B;
  --toggle-color: #DDDDDD;
  --pagination-border-color: #E2E8F0;
  --body-color: #E4E9F7;
  --table-header-color: #F1F5F9;
  --home-border-color: #F2F2F7;
  --primary-light-color: #F6F5FF;
  --modal-footer-color: #F8FAFC;
  --section-color: #FFFFFF;
  --home-color: #FFFFFF;
  --home-header-color: #000000;

  --select-white-color: #FFFFFF;
  --select-color-100: #FCF7FF;
  --select-color-200: #ADA9BB;
  --select-color-300: #6A6676;
  --select-black-color: #000000;

  --success-color: #10B981;
  --progress-color: #3B82F6;
  --failure-color: #F43F5E;

  /* Transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  background-color: var(--body-color);
  transition: var(--tran-04);
  display: flex;
}

body.dark {
  --body-color: #18191A;
  --default-text-color: #CCCCCC;
  --display-text-color: #FFFFFF;
  --home-color: #242526;
  --home-header-color: #CCCCCC;
  --home-text-color: #FFFFFF;
  --modal-footer-color: #ADA9BB;
  --primary-color: #3A3B3C;
  --primary-dark-color: #484554;
  --primary-light-color: #3A3B3C;
  --primary-text-color: #FFFFFF;
  --section-color: #484554;
  --select-color-100: #8576FF;
  --table-header-color: #6A6676;
  --toggle-color: #FFFFFF;
}

/* ====== Reusable CSS ====== */
.display-none {
  display: none;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.justified {
  display: flex;
  justify-content: center;
}

/* ====== SideBar ====== */
.sidebar {
  background-color: var(--section-color);
  height: 1024px;
  width: 250px;
  padding: 8px;
  transition: var(--tran-05);
}

.sidebar .image-text .mobile-close-btn {
  display: none;
}

.sidebar.collapse {
  width: 88px;
}

.sidebar .text {
  color: var(--default-text-color);
  font-size: 16px;
  font-weight: 500;
  transition: var(--tran-03);
}

.user-link .user span:nth-child(2) {
  color: var(--home-text-color);
  font-size: 12px;
  font-weight: 400;
}

.sidebar.collapse .text,
.sidebar.collapse .menu-bar .moon-sun {
  display: none;
}

.sidebar li {
  display: flex;
  align-items: center;
  height: 50px;
  list-style: none;
  margin-top: 10px;
}

.sidebar li a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.sidebar .aside-link .icon {
  width: 22px;
}

.user-link .icon {
  margin-right: 0 !important;
  width: 48px;
}

.sidebar li .icon,
.sidebar li .text {
  margin: 8px;
}

.sidebar header {
  padding: 8px;
}

.sidebar header .image-text {
  gap: 16px;
}

.sidebar .image-text .main-logo,
.home .mobile-nav-bar .main-logo {
  border-radius: 6px;
  width: 120px;
}

.sidebar .image-text .logo-small {
  border-radius: 6px;
  width: 50px;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
}

.header-text .profession {
  margin-top: -2px;
}

.sidebar .menu-bar {
  margin-top: 16px;
}

.menu li:hover {
  background-color: var(--select-color-100);
  & .icon {
    filter: invert(49%) sepia(37%) saturate(5361%) hue-rotate(223deg) brightness(104%) contrast(102%);
  }
  & .text {
    color: var(--primary-text-color);
  }
}

body.dark .aside-link:hover .icon,
body.dark .export-button .export-icon,
body.dark .card-icon {
  filter: brightness(0) saturate(100%) invert(100%);
}

.notification-count {
  background-color: var(--failure-color);
  border-radius: 50%;
  color: var(--select-white-color);
  height: 34px;
  width: 34px;
  position: absolute;
  left: 174px;
  transition: var(--tran-05);
}

.sidebar.collapse .notification-count {
  font-size: 10px;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 48px;
  top: 325px;
}

.menu-bar .mode {
  background-color: var(--primary-light-color);
  border-radius: 12px;
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 38px;
}

.menu-bar .mode img {
  transition: var(--tran-03);
}

.menu-bar .mode .toggle-switch {
  cursor: pointer;
  min-width: 60px;
  position: absolute;
  left: 154px;
  transition: var(--tran-05);
}

.sidebar.collapse .menu-bar .mode .toggle-switch {
  left: 14px;
}

.toggle-switch .switch {
  background-color: var(--toggle-color);
  border-radius: 25px;
  height: 22px;
  width: 44px;
  position: relative;
}

.switch::before {
  background-color: var(--section-color);
  border-radius: 50%;
  content: '';
  height: 15px;
  width: 15px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--tran-03);
}

body.dark .switch::before {
  left: 24px;
}

.user-link .user {
  display: flex;
  flex-direction: column;
}

/* ====== HomePage View ====== */
.home {
  background-color: var(--home-color);
  border: 1px solid var(--home-border-color);
  padding: 40px 28px;
  transition: var(--tran-05);
  width: 100%;
}

.home .home-header {
  color: var(--home-header-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 20px;
}

.home .container {
  margin-top: 48px;
}

.home .text {
  color: var(--home-text-color);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
}

.card {
  background-color: var(--section-color);
  border: 1px solid var(--home-border-color);
  border-radius: 4px;
  flex-grow: 1;
  height: 88px;
  padding: 16px;
  max-width: 260px;
  min-width: 200px;
}

body.dark .home,
body.dark .card,
body.dark .event-section .event-card,
body.dark .pagination .pagination-btn {
  border: none;
}

.card .card-heading {
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  line-height: 24px;
}

.card-body {
  height: 32px;
}

.card-body .count {
  color: var(--home-header-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-right: 6px;
}

.growth span {
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
}

.growth .rise {
  color: var(--success-color);
}

.growth .decline {
  color: var(--failure-color);
}

.container .section-caption {
  color: var(--home-header-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 12px;
}

.container .event-section {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
}

/* ====== Event Section General Styles ====== */
.event-section .event-card {
  background-color: var(--section-color);
  border: 1px solid var(--home-border-color);
  border-radius: 6px;
  flex-grow: 1;
  flex-shrink: 1;
  height: 320px;
  max-width: 536px;
  min-width: 436px;
}

/* ====== Chart Component Styles ====== */
.chart-card {
  padding: 16px;
}

.event-card .chart {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ====== Carousel Component Styles ====== */
.carousel {
  position: relative;
}

.carousel-btn {
  background-color: var(--select-white-color);
  border: 1px solid var(--pagination-border-color);
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  width: 32px;
  position: absolute;
  z-index: 2;
}

.carousel-btn:focus {
  border: 1px solid black;
  outline: 1px solid var(--pagination-border-color);
}

.prev, .next {
  background: none;
  border: none;
}

.left {
  left: 3%;
  top: 45%;
}

.right {
  right: 3%;
  top: 45%;
}

.carousel, .carousel ul, .carousel li, .slide-image {
  height: 100%;
  width: 100%;
}

.slide {
  inset: 0;
  list-style: none;
  opacity: 0;
  position: absolute;
  transition: 600ms opacity ease-in-out;
  transition-delay: 600ms;
}

.slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
  z-index: 1;
}

.carousel .slide img {
  border-radius: 6px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.slider-text {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, .6) 100%);
  border-radius: 0 0 6px 6px;
  bottom: 0;
  color: var(--select-white-color);
  height: 115px;
  position: absolute;
}

.slider-text h4 {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 12px 16px;
}

.slider-text p {
  font-size: 13px;
  font-weight: 200;
  line-height: 16px;
  padding: 0 16px 16px 16px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 1;
}

.line {
  background-color: #979592;
  border-radius: 2px;
  cursor: pointer;
  height: 4px;
  width: 16px;
  margin: 0 2px;
  transition: var(--tran-05);
}

.line.active {
  background-color: var(--select-white-color);
}

/* ====== Table Section Styles ====== */
.event-table {
  margin-top: 24px;
  max-width: 1076px;
  min-width: 794px;
}

.table-menu {
  color: var(--home-text-color);
  font-size: 14px;
  font-weight: 400;
}

.search-bar-wrapper {
  position: relative;
}

.search-bar-wrapper input {
  width: 200px;
}

.search-bar,
.dropdown,
.menu-button,
.export-button,
.edit-btn {
  background-color: var(--section-color);
  border: 1px solid var(--pagination-border-color);
  border-radius: 2px;
  color: var(--home-text-color);
  height: 36px;
  padding: 4px 8px;
}

body.dark .search-bar,
body.dark .dropdown,
body.dark .menu-button,
body.dark .export-button,
.delete-btn, .complete-btn {
  border: none;
}

.table-menu .search-bar {
  font-size: 14px;
  margin-right: 6px;
  padding: 4px 12px 4px 32px;
}

.search-icon {
  pointer-events: none; /* Ensures icon doesn’t interfere with input focus */
  position: absolute;
  left: 12px;
}

.dropdown {
  font-size: 14px;
  margin-right: 6px;
}

.dropdown select {
  background: none;
  border: none;
  color: var(--home-text-color);;
  height: 100%;
  width: 100%;
}

.date-dropdown {
  width: 88px;
}

.status-dropdown {
  width: 100px;
}

.name-dropdown {
  width: 96px;
}

.sort-dropdown {
  width: 140px;
}

.display-text {
  color: var(--display-text-color);
  font-size: 14px;
  font-weight: 600;
  margin-right: auto;
}

.sort-dropdown-label {
  margin-right: 4px;
}

.menu-button,
.export-button {
  cursor: pointer;
  font-size: 14px;
  padding: 4px 12px;
}

.menu-button {
  margin-right: 6px;
}

.export-button img {
  margin-right: 6px;
}

.menu-button:hover,
.export-button:hover {
  background-color: var(--select-color-100);
}


.event-table .table-body {
  background-color: var(--section-color);
  margin-top: 8px;
}

th {
  background-color: var(--table-header-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

td {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

th, td {
  color: var(--home-text-color);
  height: 48px;
  width: 269px;
  padding: 16px;
  text-align: left;
}

.success {
  color: var(--success-color);
  position: relative;
}

.success .success-items {
  background-color: #D1FAE5;
}

.success .success-dot {
  background-color: var(--success-color);
}

.progress {
  color: var(--progress-color);
  position: relative;
}

.progress .progress-items {
  background-color: #DBEAFE;
}

.progress .progress-dot {
  background-color: var(--progress-color);
}

body.dark .success .success-items {
  background: none;
  border: 1px solid var(--success-color);
}

body.dark .progress .progress-items {
  background: none;
  border: 1px solid var(--progress-color);
}

.status-items {
  border-radius: 12px;
  display: inline-block;
  height: 24px;
  width: 120px;
}

.status-dot {
  border-radius: 50%;
  height: 6px;
  width: 6px;
  position: absolute;
  left: 28px;
  top: 46%;
}

.status-text {
  height: 100%;
  margin-left: 26px;
}

.table-footer {
  padding: 12px 0;
}

.pagination {
  gap: 14px;
}

.pagination .page-btn {
  background: none;
  border: none;
  border-radius: 50%;
  color: var(--home-text-color);
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.pagination .pagination-btn {
  background-color: var(--section-color);
  border: 1px solid var(--pagination-border-color);
  border-radius: 2px;
  height: 36px;
  width: 36px;
}

.pagination .left {
  background-color: var(--pagination-border-color);
}

body.dark .pagination .left {
  background-color: var(--section-color);
}

.pagination-btn .icon {
  filter: invert(88%) sepia(8%) saturate(292%) hue-rotate(174deg) brightness(98%) contrast(97%);
}

.pagination .page-btn.active {
  background-color: var(--primary);
  color: var(--select-white-color);
}

.pagination .page-btn:nth-child(3):hover,
.pagination .page-btn:nth-child(4):hover {
  background-color: var(--select-color-100);
}

.rows-dropdown-wrapper label {
  color: var(--display-text-color);
  margin-right: 6px;
}

.rows-dropdown {
  margin: 0;
}

/* ====== Modal Pop-up Styles ====== */
.modal {
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.modal-content {
  background-color: var(--section-color);
  color: var(--home-text-color);
  height: 380px;
  width: 440px;
  position: relative;
}

.close-btn {
  background-color: var(--section-color);
  border: 1px solid var(--pagination-border-color);
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  height: 26px;
  width: 26px;
  position: absolute;
  right: 15px;
  top: 15px;
}

body.dark .close-btn {
  background-color: var(--select-color-200);
  border: none;
  color: var(--primary-dark-color);
}

.event-card-speakers,
.modal-event-description,
.modal-event-name,
.modal-title {
  padding: 22px 24px 0 24px;
}

.modal-title {
  color: var(--home-header-color);
}

.modal-event-name .name {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.modal-event-name .date,
.modal-event-description strong {
  font-size: 14px;
}

.modal-event-name span,
.modal-event-description span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.event-card-speakers .avatars {
  position: relative;
}

.event-card-speakers .speakers-description {
  color: var(--display-text-color);
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-top: 38px;
}

.avatars .avatar {
  position: absolute;
  border: 2px solid var(--section-color);
  border-radius: 50%;
}

.avatars .avatar-one {
  z-index: 2;
}

.avatars .avatar-two {
  left: 24px;
  z-index: 1;
}

.avatars .avatar-three {
  left: 48px;
}

.modal-footer {
  background-color: var(--modal-footer-color);
  height: 84px;
  padding: 24px;
}

.modal-btn {
  border-radius: 2px;
  cursor: pointer;
  height: 36px;
  padding: 8px 12px;
}

.edit-btn {
  background-color: var(--select-white-color);
  color: var(--select-black-color);
}

.delete-btn {
  background-color: var(--failure-color);
  color: var(--select-white-color);
}

.complete-btn {
  background-color: var(--primary);
  color: var(--select-white-color);
}

/* Styles for 430px mobile screen for responsiveness */
@media (max-width: 430px) {
  .aside-container {
    background: rgba(0, 0, 0, 0.6);
    height: 2657px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
  }

  .sidebar {
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .sidebar header {
    padding: 32px 28px;
  }

  .sidebar .image-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .sidebar .menu-bar {
    padding: 0 28px;
  }

  .sidebar .image-text .mobile-close-btn {
    background-color: var(--select-white-color);
    border: 1px solid var(--pagination-border-color);
    border-radius: 50%;
    color: #334155;
    display: block;
    height: 24px;
    width: 24px;
  }

  .mobile-nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    width: 100%;
  }

  .mobile-nav-bar #hamburger-menu {
    background: none;
    border: none;
  }

  .home {
    padding: 0 28px 40px 28px;
  }

  .card-container .card,
  .event-section .event-card {
    max-width: 100%;
  }

  .event-section .event-card {
    min-width: 264px;
  }

  .table-menu {
    flex-direction: column;
    gap: 8px;
  }

  .dropdown,
  .search-bar-wrapper .search-bar {
    margin: 0;
  }

  .date-dropdown select,
  .status-dropdown select,
  .name-dropdown select {
    width: 20%;
  }

  .search-bar-wrapper,
  .search-bar-wrapper input,
  .date-dropdown,
  .status-dropdown,
  .name-dropdown,
  .table-menu .sorting,
  .table-menu .table-menu-btns {
    width: 100%;
  }

  .table-menu .display-text {
    display: flex;
    align-items: center;
    height: 36px;
  }

  .table-menu .table-menu-btns,
  .table-menu .sorting {
    justify-content: space-between;
  }

  .event-table {
    max-width: 100%;
    min-width: 264px;
  }

  .aside-container,
  .sidebar .image-text .header-text,
  .sidebar .toggle,
  .event-table table thead th:nth-child(2),
  .event-table table thead th:nth-child(3),
  .event-table table tbody td:nth-child(2),
  .event-table table tbody td:nth-child(3),
  .rows-dropdown-wrapper label {
    display: none;
  }
}
