@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: "Inter", "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --body-color: #E4E9F7;
  --primary-color: #8576FF;
  --primary-color-dark: #484554;
  --primary-color-light: #F6F5FF;
  --menu-hover-color: #FCF7FF;
  --select-color-100: #FCF7FF;
  --select-color-200: #ADA9BB;
  --select-color-300: 6A6676;
  --section-color: #FFF;
  --home-color: #FFF;
  --text-color: #707070;
  --home-text-color: #64748B;
  --home-header: #000;
  --toggle-color: #DDD;
  --text-hover-color: #8576FF;

  /* Transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  background: var(--body-color);
  transition: var(--tran-04);
  display: flex;
}

body.dark {
  --body-color: #18191A;
  --primary-color: #3A3B3C;
  --primary-color-light: #3A3B3C;
  --section-color: #484554;
  --home-color: #242526;
  --text-color: #CCC;
  --home-header: #CCC;
  --home-text-color: #FFF;
  --toggle-color: #FFF;
  --menu-hover-color: #8576FF;
  --text-hover-color: #FFF;
}

/* ====== Reusable CSS ====== */
.display-none {
  display: none;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ====== SideBar ====== */
.sidebar {
  background: var(--section-color);
  height: 1024px;
  width: 250px;
  padding: 8px;
  transition: var(--tran-05);
}

.sidebar.collapse {
  width: 88px;
}

.sidebar .text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  transition: var(--tran-03);
}

.sidebar.collapse .text,
.sidebar.collapse .menu-bar .moon-sun {
  display: none;
}

.sidebar li {
  display: flex;
  align-items: center;
  height: 50px;
  list-style: none;
  margin-top: 10px;
}

.sidebar li a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.sidebar li .icon {
  width: 22px;
}

.sidebar li .icon,
.sidebar li .text {
  margin: 8px;
}

.sidebar header {
  padding: 8px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sidebar .logo-image {
  display: flex;
  align-items: center;
}

.sidebar .image-text .main-logo {
  border-radius: 6px;
  width: 120px;
}

.sidebar .image-text .logo-small {
  border-radius: 6px;
  width: 50px;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
}

.header-text .profession {
  margin-top: -2px;
}

.sidebar .menu-bar {
  margin-top: 16px;
}

.menu li:hover {
  background: var(--menu-hover-color);
  & .icon {
    filter: invert(49%) sepia(37%) saturate(5361%) hue-rotate(223deg) brightness(104%) contrast(102%);
  }
  & .text {
    color: var(--text-hover-color);
  }
}

.notification-count {
  background: red;
  border-radius: 50%;
  color: #FFF;
  height: 34px;
  width: 34px;
  position: absolute;
  left: 174px;
  transition: var(--tran-05);
}

.sidebar.collapse .notification-count {
  font-size: 10px;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 48px;
  top: 325px;
}

.menu-bar .mode {
  background-color: var(--primary-color-light);
  border-radius: 12px;
}

.menu-bar .mode .moon-sun {
  display: flex;
  align-items: center;
  height: 50px;
  width: 38px;
}

.menu-bar .mode img {
  transition: var(--tran-03);
}

.menu-bar .mode .toggle-switch {
  cursor: pointer;
  min-width: 60px;
  position: absolute;
  left: 154px;
  transition: var(--tran-05);
}

.sidebar.collapse .menu-bar .mode .toggle-switch {
  left: 14px;
}

.toggle-switch .switch {
  background: var(--toggle-color);
  border-radius: 25px;
  height: 22px;
  width: 44px;
  position: relative;
}

.switch::before {
  background: var(--section-color);
  border-radius: 50%;
  content: '';
  height: 15px;
  width: 15px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--tran-03);
}

body.dark .switch::before {
  left: 24px;
}

/* ====== HomePage ====== */
.home {
  background: var(--home-color);
  border:1px solid #F2F2F7;
  padding: 40px 28px;
  transition: var(--tran-05);
  width: 100%;
}

.home .home-header {
  color: var(--home-header);
  font-size: 22px;
  font-weight: 400;
  line-height: 20px;
}

.home .container {
  margin-top: 48px;
}

.home .text {
  color: var(--home-text-color);
}

.card-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 24px;
}

.card {
  background: var(--section-color);
  border: 1px solid #F2F2F7;
  border-radius: 4px;
  height: 88px;
  padding: 16px;
  flex-grow: 1;
  min-width: 200px;
  max-width: 260px;
}

body.dark .home,
body.dark .card,
body.dark .event-section .event-card {
  border: none;
}

.card .card-heading {
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  line-height: 24px;
}

.card-body {
  height: 32px;
  display: flex;
  align-items: center;
}

.card-body .count {
  color: var(--home-header);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-right: 6px;
}

.growth {
  display: flex;
  align-items: center;
}

.growth span {
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
}

.growth .rise {
  color: #10B981;
}

.growth .decline {
  color: #F43F5E;
}

.container .section-caption {
  color: var(--home-header);
  font-size: 18px;
  font-weight: 500;
  line-height: 12px;
}

.container .event-section {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 24px;
}

.event-section .event-card {
  background: var(--section-color);
  border: 1px solid #F2F2F7;
  border-radius: 6px;
  height: 320px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 480px;
  max-width: 536px;
}

.chart-card {
  padding: 16px;
}

.event-card .chart {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel {
  position: relative;
}

.carousel-btn {
  background: #FFF;
  border: 1px solid #E2E8F0;
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  width: 32px;
  position: absolute;
  z-index: 2;
}

.carousel-btn:focus {
  border: 1px solid black;
  outline: 1px solid rgb(94, 94, 94);
}

.prev, .next {
  background: none;
  border: none;
}

.left {
  top: 45%;
  left: 3%;
}

.right {
  top: 45%;
  right: 3%;
}

.carousel, .carousel ul, .carousel li, .slide-image {
  height: 100%;
  width: 100%;
}

.slide {
  list-style: none;
  inset: 0;
  opacity: 0;
  position: absolute;
  transition: 600ms opacity ease-in-out;
  transition-delay: 600ms;
}

.slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
  z-index: 1;
}

.carousel .slide img {
  border-radius: 6px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.slider-text {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, .6) 100%);
  border-radius: 0 0 6px 6px;
  bottom: 0;
  color: #FFF;
  height: 115px;
  position: absolute;
}

.slider-text h4 {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding: 16px;
}

.slider-text p {
  font-size: 13px;
  font-weight: 200;
  line-height: 16px;
  padding: 0 16px 16px 16px;
}

